body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  padding: 1rem;
  margin: 0px;
  color: #0d0dda;
  background-color: hsl(200, 100%, 75%);
  font-size: 1rem;
  font-weight: 500;
}

button {
  padding: 0.5rem;
  width: 12rem;
  margin: 0.5rem;
  border: none;
  color: cornsilk;
  background-color: hsl(240, 90%, 45%);
  transition-duration: 300ms;
}

button:hover {
  outline: none;
  background-color: hsl(240, 90%, 55%);
}

button:active {
  transition-duration: 0ms;
  outline: none;
  background-color: hsl(240, 90%, 65%);
}

.status-wrapper {
  margin: 0.5rem;
  overflow-wrap: break-word;
}

input[type="range"] {
  width: 12rem;
  height: 1.5rem;
  margin: 0.5rem;
  background: none;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #0d0dda;
  border-radius: 3px;
  border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #0d0dda;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #5cacfc;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
